<frame-page app-title='Beta Settings'
              app-icon='fa-gears'>
  
  <md-card flex="96" flex-offset="2"
    ng-repeat='option in options'>
    <setting-option></setting-option>
  </md-card>
  
  <md-card flex="96" flex-offset="2">
      <md-card-content>
        <h4>Theme Selector</h4>
        <small>Pick which place you call home</small>
        <select class="form-control" ng-options="item as item.name for item in THEMES track by item.name" ng-model="portal.theme">
        </select>
      </md-card-content>
  </md-card>
  
  <md-card flex="96" flex-offset="2">
    <md-card-content>
      <h4>Danger Zone</h4>
        <span class="btn-group">
          <label class="btn btn-default" ng-click="resetLocal()">Reset Local Storage</label>
        </span>
        <span class="btn-group">
          <label class="btn btn-default" ng-click="clearSession()">Clear Session Storage</label>
        </span>
    </md-card-content>
    <md-card-footer>
      Reset to default and clearing the session storage can be nice to clean the slate.
    </md-card-footer>
  </md-card>

</frame-page>
