<frame-page app-title='Beta Settings'
              app-icon='fa-gears'>
  
  <md-card flex="96" flex-offset="2">
    
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Miscellaneous Options</span>
        <span class="md-subhead">True-false selectors defined in app-config APP_BETA_FEATURES (and FRAME_BETA_FEATURES) and storing to $storage .</span>
      </md-card-header-text>
    </md-card-header>
    
    <md-switch 
      ng-repeat="option in options"
      ng-model="$storage[option.id]" aria-label="{{option.title}}">
      {{option.title}}
      <md-tooltip>
        {{option.description}}
      </md-tooltip>
    </md-switch>
    
  </md-card>
  
  <md-card flex="96" flex-offset="2">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Theme Selector</span>
        <span class="md-subhead">Pick which place you call home</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <select class="form-control" ng-options="item as item.name for item in THEMES track by item.name" ng-model="portal.theme">
      </select>
    </md-card-content>
  </md-card>
  
  <md-card flex="96" flex-offset="2">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Reset</span>
        <span class="md-subhead">Not very dangerous. The application will fetch anew the data it needs.</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions 
      layout="row" layout-xs="column" layout-align="space-around center">
      <md-button class="md-raised"
        ng-click="resetLocal()">Reset Local Storage</md-button>
      <md-button class="md-raised"
        ng-click="clearSession()">Clear Session Storage</md-button>
    </md-card-actions>
    <md-card-footer>
      Reset to default and clearing the session storage can be nice to clean the slate.
    </md-card-footer>
  </md-card>

</frame-page>
